.container {
    padding: 2rem;
}
.h1{
    font-size: 20px;
}
#root{
font-size:20px;
  text-align: center;
}

.colorPalette {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.palette {
    width: 100px;
    height: 140px;
    margin: 5px;
}

.designStyle {
    padding: 0.2rem;
    font-size: 30px;
   
}

.button{
    border-radius: 5%;
    font-size: 20px;
}